<div class="container">
	{{#grouped_each 3 movies}}
  <div class="row">
    {{#each this }}
    <div class="col-md-4" id="{{id}}">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            {{movie}}
            {{#if fb}}
            <div class="btn-group pull-right navbar-right">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </div>
            {{else}}
            {{/if}}
          </h3>
       	</div>
       	<div class="panel-body">
       	  <img class="poster" src="{{poster}}">
       	   	<p>
						{{#cast}}
							{{this}}
						{{/cast}}
						</p>
       	</div>
       	<div class="panel-footer">
          <span class="btn">{{year}}</span>
          {{#if mdb}}
          <div class="pull-right">
            <a class="btn btn-default addToWatchlist">Add to Watchlist</a>
          </div>
          <div class="clearfix">
          </div>
          {{else}}
          <div class="pull-right">
            <a class="btn btn-default addToWatchlist">STARS</a>
          </div>
          <div class="clearfix">
          </div>
          {{/if}}
        </div>
      </div>
    </div>
    {{/each}}
  </div>
	{{/grouped_each}}
</div>
