{{!-- <div class="card"> --}}
{{#each movies}}
<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        {{movie}}
        <div class="btn-group pull-right navbar-right">
          <button class="btn btn-link dropdown-toggle" data-toggle="dropdown"><i class="fa fa-trash-o"></i></button>
        </div>
      </h3>
    </div>
    <div class="panel-body">
      <img src="http://placehold.it/350x150">
      <p>{{year}}</p>
      <p>
			{{#cast}}
				{{this}}
			{{/cast}}
			</p>
    </div>
    <div class="panel-footer">
      <span class="btn btn-link">$15</span>
      <div class="pull-right">
        <a class="btn btn-default">View</a>
        <a class="btn btn-success"><i class="fa fa-shopping-cart"></i> Buy</a>
      </div>
      <div class="clearfix">
      </div>
    </div>
  </div>
</div>
	{{!-- <p>Hey Bob</p>
		<p>{{movie}}</p>
		<p>{{year}}</p>
		<p>
		{{#cast}}
			{{this}}
		{{/cast}}
		</p> --}}
	{{/each}}
{{!-- </div> --}}